header{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, alpha);
    width: 30%;
}
input{
    background-image: url(../imagens/magnifier-1_icon-icons.com_56924.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 100%;
    width:25em;
    height: 2em;  
    border-radius: 10px;
}
.logo{
    width: 30em;
}

button{
    background-color: #333 !important ;
    color: white !important ;
    padding: 3% !important ;
    width: auto !important ;
    cursor: pointer;
    margin: 0 !important ;
    text-align: center !important ;
    font-size: 25px !important;
    border: #181818 solid 1px !important;
}

ul{
    background-color: rgb(24, 24, 24) !important;
    width: 25em!important;
    padding: 3%!important;
    
}

.btn-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

a{
    color: rgb(78, 78, 78) !important;
    width: 100%!important;
    padding: 3%!important;
    margin: 0!important;
}
li{
    border-bottom: #ffffff solid 1px;
}
a:hover{
    color: white!important;
    text-decoration: none !important;
    background-color: #333 !important;
}

body{
    background-color: #181818 !important;
}
.conteiner1{
    display: flex;
    min-height: 100vh;
}
main{
    background-image: url(../imagens/OIG4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    opacity: 0.2;
    flex-grow: 1;
    padding: 1;
}